body {
font-size: 10px;
background-image: url("picture/background.jpeg");
background-attachment: fixed;
background-size: auto;
}
.header-logo {
    font-size: 70px;
    max-width: 50%;
    margin: 0 auto;
}
.header-list li {
    font-size: 20px;
    display: inline-flex;
    padding: 10px 200px;
    color: tomato;
}
p1 {
    float: right;
}
.title {
font-size: 40px;
}
p1,p2,p3 {
    font-size: 20px;
}
span {
    font-size: 20px;
}
.footer-logo {
    font-size: 30px;
    float: right;
    color: red;
}
